---
title: Casal Vende Tudo
hero: Casal Vende Tudo
call: Estamos em SP, próximos ao metrô Marechal Deodoro, bairro Barra Funda.
---

<div class="content" id="products">
	<section>
		<div class="container">
			<h3>Produtos em destaque</h3>
			<ul class="product-list">
				{% for product in site.products %}
					{% if product.featured %}
						<li>
							{% include product-styles.html product=product %}
							<div class="product-details">
								<h4><a href="{{ site.baseurl }}{{ product.url }}">{{ product.name }}</a></h4>
								<p>R$ {{ product.price }},00</p>
							</div>
						</li>
					{% endif %}
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
