---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-arrows">
				{% if page.previous.url %}
				<span class="button">
					<a class="" href="{{page.previous.url}}"> ⬅️ </a>
				</span>
				{% endif %}
				{% if page.next.url %}
				<span class="button">
					<a class="" href="{{page.next.url}}"> ➡️ </a>
				</span>
				{% endif %}
			</div>
			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details">
					<h3>{{ page.name }} - R$ {{ page.price }},00</h3>
					{{ page.description_markdown | markdownify }}

					<span class="button">
						<a class="sm_open" data-modal="examplePlain" data-effect="pushdown">Comprar</a>
					</span>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="slim_modal" id="examplePlain">
	<div class="sm_content">
		<div class="sm_content_inner_wrap">

			{% include comprar.html %}

			<a class="sm_close sm_close_button">FECHAR</a>
		</div>
	</div>
</div>